name: Release

on:
  push:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Upgrade npm for OIDC
        run: npm install -g npm@latest

      - name: Clear auth token for OIDC
        run: echo "NODE_AUTH_TOKEN=" >> $GITHUB_ENV

      - name: Configure npm registry
        run: npm config set registry https://registry.npmjs.org/

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run prepublishOnly

      - name: Release
        run: bunx semantic-release
        env:
          NPM_CONFIG_PROVENANCE: true,
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
